<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <p class = "title"> Music App</p>
  </header>
  <body>

    <%if logged_in?%>
      <form class="right" action="<%=session_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="submit" value="logout">
      </form>
    <%else%>
        <a href="<%=new_user_url%>">Sign up</a>
        <a href="<%=new_session_url%>">Login</a>
    <%end%>

    <%= yield %>
  </body>
</html>
